<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-for实例</title>
    <script src="../assets/js/vue.js"></script>
</head>
<body>
    <h1>v-for实例</h1>
    <hr />
    <div id="app">
        <p><small>对数组调用sort()方法并传入自定义函数<code>function sortNumber(a,b){return a-b;}</code>实现按数字大小排序</small></p>
        <ul>
            <li v-for='item in sortItems'>
                {{ item }}
            </li>
        </ul>
        <hr />

        <p><small>循环输出学生信息</small></p>
        <ul>
            <li v-for='(student,index) in students'>{{ index+1 }}-{{ student.ID }}-{{ student.name }}</li>
        </ul>
        
    </div>

    <script>
        //原生的对象形式数组排序方法,没懂
    function sortByKey(array,key){
    return array.sort(function(a,b){
      var x=a[key];
      var y=b[key];
      return ((x<y)?-1:((x>y)?1:0));
   });
}
        //数值排序调用的方法
        function sortNumber(a,b){
            return a-b;
        }
        var app = new Vue({
          el: '#app',
          data: {
              items: [99,86,9,77,91,55],
              students: [
                  {name: "Gates",ID:52280 },
                  {name: "James",ID:52281 },
                  {name: "Hadoon",ID:52282 },
                  {name: "Jordan",ID:52283 },
                  {name: "Maddie",ID:52284 }                  
              ]
          }, 
          //高版本的vue中computed里面的属性名称不能和data里面的属性名称相同，这种情况在低版本的vue中虽然是允许的
          computed:{
              sortItems: function() {
                return this.items.sort(sortNumber);
              }
          }          
        });
    </script>
</body>
</html>